<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <localRepository>/Users/randhawa/.m2/repository</localRepository>
   <servers>
    <!-- add your connected app id and secret -->
  
   <!-- <server>
      <id>Exchange2</id>
      <username>~~~Client~~~</username>
      <password>094ed28b0dd74630a6f08d3c9cf6684b~?~c93C1a6C50ee4d2cA38D2F3c93FbCd68</password>
    </server>
   <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>094ed28b0dd74630a6f08d3c9cf6684b~?~c93C1a6C50ee4d2cA38D2F3c93FbCd68</password>
    </server>
    <server>
      <id>MuleRepository</id>
      <username>ascensia.nexus</username>
      <password>Jadgsj4879Ajfg1</password> 
    </server> -->
  </servers>
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/releases-ee/</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>mulesoft-public</id>
          <name>MuleSoft Public Repository</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>maven-central</id>
          <name>Maven Central Repository</name>
          <url>https://repo.maven.apache.org/maven2/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>maven-central-new</id>
          <name>Maven Central Repository</name>
          <url>https://repo1.maven.org/maven2/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>mulesoft-releases</id>
          <name>MuleSoft Repository</name>
          <url>http://repository.mulesoft.org/releases/</url>;
          <layout>default</layout>
        </repository>
        <repository>
          <id>mulesoft-snapshots</id>
          <name>MuleSoft Snapshot Repository</name>
          <url>http://repository.mulesoft.org/snapshots/</url>;
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url> https://repository.mulesoft.org/nexus/content/repositories/public </url>
        </pluginRepository>
        <pluginRepository>
          <id>maven-public</id>
          <url> https://repo.maven.apache.org/maven2 </url>
        </pluginRepository>
        <pluginRepository>
          <id>MuleRepository</id>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>;
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>